body {
  background-color: #fdcfb5;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover_photo {
  margin: 0 auto;
}

.text_start {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #fff3f3;
}

span {
  color: #74064fa1;
}

img {
  margin: 50px 220px 50px;
  width: 300px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  text-align: center;
  color: #6b25339c;
}

.Valentine {
  color: rgb(185, 33, 58);
}

button {
  padding: 40px 90px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  margin: 0; /* IMPORTANT: remove the big margins */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px; /* controls how far YES is to the right */
  margin: 60px 0 80px; /* replaces the old button margins */
}

.no-slot {
  width: 260px; /* tweak if needed */
  height: 120px; /* tweak if needed */
}

.button_yes {
  background-color: rgba(255, 57, 123, 0.815);
  color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.363);
  font-size: 65px;
}

.button_no {
  background-color: rgb(116, 12, 29);
  color: rgb(39, 1, 1);
  border-color: rgb(255, 140, 140);
  font-size: 25px;
  position: fixed; /* KEY: allows full-screen movement */
  left: 0;
  top: 0;
  transition: 0.12s ease;
  z-index: 9999;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #df8dff70;
}

.Catheline {
  color: #a568bdb4;
  font-weight: 500px;
}

.yes-page {
  background-color: #ffb6d9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.yes-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.yes-container h1 {
  font-size: 80px;
  color: white;
  font-weight: bold;
}

.love-message {
  font-size: 40px;
  margin-top: 20px;
  padding: 40px;
  color: aliceblue;
  font-weight: bold;
}

.go-back__button {
  background-color: rgba(255, 57, 123, 0.815);
  color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.363);
  font-size: 20px;
}
